/* MAIN STYLES */
body.login h1 a {
	background-image: url(../images/n-hance-logo.svg);
	height: 54px;
	background-size: contain;
	width: 200px;
}

#masthead {
	background: rgb(77,39,128);
	background: linear-gradient(90deg, rgba(77,39,128,1) 0%, rgba(52,27,61,1) 100%);
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25);
}

#masthead .main-header-bar {
	background: transparent;
	border-bottom: 0;
}

#masthead .main-header-bar .main-header-bar-navigation .menu-item a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

#masthead .main-header-bar .main-header-bar-navigation .menu-item a:hover {
	color: #F79024;
}

.row {
	display: flex;
}


.col-lg-6 {
	width: 50%;
	padding: 0 10px;
}

@media (max-width: 996px) {
	.row {
		flex-wrap: wrap;
	}
	.col-md-6 {
		width: 100%;
	}
}



.site-branding .site-logo-img img {
	width: 90%;
}

.menu-toggle-icon {
	color: #fff;
    border: 1px solid #fff;
    padding: 0 13px;
    border-radius: 5px;
}

@media (max-width: 921px) {
	#primary-menu {
	background: rgb(77,39,128);
	background: linear-gradient(90deg, rgba(77,39,128,1) 0%, rgba(52,27,61,1) 100%);
	border: none;
    padding-bottom: 15px;

	}

	#primary-menu .menu-item a {
		border: none;
	}
}


/* HERO STYLES */

#hero.landing {
    min-height: 80vh;
    padding-top: 80px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% -80px;
    background-color: #F3F3F3;
}

@media (max-width: 1600px) {
	#hero.landing {
		background-size: 120%;
	}
}

@media (max-width: 1400px) {
	#hero.landing {
		background-size: 150%;
	}
}

@media (max-width: 1200px) {
	#hero.landing {
		background-size: 170%;
	}
}

@media (max-width: 1000px) {
	#hero.landing {
		background-size: 200%;
	}
}

@media (max-width: 800px) {
	#hero.landing {
		background-size: 300%;
	}
}

@media (max-width: 600px) {
	#hero.landing {
		background-size: 400%;
		padding-top: 50px;
	}
}

@media (max-width: 450px) {
	#hero.landing {
		background-size: 500%;
	}
}

@media (max-width: 400px) {
	#hero.landing {
		background-size: 600%;
	}
}

#hero.landing .hero-title {
	font-family: 'Poppins';
	color: #fff;
	font-size: 34px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
	line-height: 1.1;
}

#hero.landing {
	font-family: 'Segoe UI';
	color: #fff;
	font-size: 18px;
}

#hero.landing .text-box {
	padding-right: 40px;
}

#hero p {
	margin-bottom: 15px;
	line-height: 1.3;
}

@media (max-width: 600px) {
	#hero.landing .text-box {
		padding-right: 5px;
	}
}

#hero.landing .img-box img {
	box-shadow: 0 30px 60px rgba(0, 0, 0, 0.10), 0 30px 60px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}

@media (max-width: 996px) {
	#hero.landing .img-box {
		text-align: center;
		margin-top: 70px;
	}
}

.cta-button,
.cta-button-holder input[type="submit"] {
	text-transform: capitalize;
	margin-top: 50px;
	background: rgb(77,39,128);
    background: linear-gradient(90deg, rgba(77,39,128,1) 0%, rgba(52,27,61,1) 100%);
	background-attachment: fixed;
    padding: 15px 32px;
    color: #fff;
	font-size: 18px;
    font-family: 'Poppins';
    border-radius: 50px;
    font-weight: 500;
    transition: all .2s linear;
    border: 2px solid transparent;
	text-decoration: none;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.25);
}

@media (max-width: 400px) {
	.cta-button,
	.cta-button-holder input[type="submit"] {
		padding: 15px 20px;
	}
}

.cta-button:hover,
.cta-button-holder input[type="submit"]:hover {
	transition: all .2s linear;
	border: 2px solid #fff;
	color: white;
}

.cta-button-holder input:not([type="submit"]) {
	max-width: 350px;
	border-radius: 50px;
	padding: 0.75em 20px!important;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.cta-button-holder input[type="submit"] {
	margin-top: -10px;
}


#hero.landing .achievable {
	padding: 180px 0 100px;
	position: relative;
	z-index: 2;

}

@media (max-width: 996px) {
	#hero.landing .achievable {
		padding-top: 80px;
		padding-bottom: 50px;
	}
}

#hero.landing .achievable ul li {
	font-family: 'Poppins';
	color: #3F3F3F;
	font-weight: 500;
	font-size: 16px;
	list-style-type: none;
}
#hero.landing .achievable ul li:before {
    content: '';
    background-image: url(../images/checkmark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 20px;
    height: 20px;
    margin-left: -35px;
    position: absolute;
    margin-top: 10px;
}

#hero.landing .bullseye {
	width: 13%;
    position: absolute;
    bottom: 15%;
    right: 150px;
    opacity: 0.7;
}

@media (max-width: 1200px) {
	#hero.landing .bullseye {
		bottom: 25%;
	}
}

@media (max-width: 1000px) {
	#hero.landing .bullseye {
		bottom: 10%;
	}
}

@media (max-width: 900px) {
	#hero.landing .bullseye {
		display: none;
	}
}


.uc {
	text-transform: uppercase;
}

.bg-orange {
	background: orange;
}

.font-normal {
	font-weight: normal;
}

.mb-0 {
	margin-bottom: 0;
}

#instructions button {
	position: relative;
	top: 50px;
}

#instructions {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 200px;
	flex-direction: column;
	z-index: 4;
	background: rgba(77, 39, 128, 0.8);
	background-image: url(../images/circle-of-life-game-bg.jpg);
	background-size: cover;
	background-position: -5px -5px;
	max-width: calc(100vw - 40px);
	max-height: calc(100vw - 40px);
}

#instructions h1 {
	text-align: center;
	font-size: 18px;
	max-width: 340px;
	line-height: 1.2;
	/* backdrop-filter: blur(10px); */
	color: white;
	font-weight: bold;
	padding: 5px 0;
	border-radius: 50px;
	margin: 0;
}

#instructions .distractions {
	font-size: 24px;
}

#instructions .calling {
	padding: 5px 10px;
	font-size: 20px;
	font-weight: bold;
}

#instructions h1 span {
	display: inline-block;
}

.arrow-left {
	width: 0 !important;
	height: 0 !important;
	border-radius: 0 !important;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #f67d2c;
	transform: rotate(90deg);
	left: 10px;
	position: relative;
}

#time-left {
	position: absolute;
	color: white;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	transform: rotate(-270deg) translateX(165px);
}

#time-left-wrapper {
	width: 30px;
	position: relative;
}

#time-left-wrapper h2 {
	margin-top: 0;
	color: white;
	font-weight: bold;
	font-size: 20px;
	line-height: 14px;
}

#points {
	font-size: 14px;
	line-height: 8px;
}

#points .total,
#points .counter {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	color: #3f3f3f;
}

#circle-of-life-game__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	/*width: 100%;*/
	/*height: 100vh;*/
	font-family: 'Poppins';
}

#circle-of-life-game {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background: #4d2780;
	width: 400px;
	height: 400px;
	border-radius: 1000px;
	border: 5px solid #f67d2c;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
	cursor: grab;
	overflow: hidden;
	/*box-sizing: content-box;*/
	max-width: calc(100vw - 40px);
	max-height: calc(100vw - 40px);
}

#circle-of-life-game:before {
	content: '|';
	position: absolute;
	bottom: 5px;
	font-size: 12px;
	color: white;
}

#circle-of-life-game:after {
	content: ' ';
	width: 0 !important;
	height: 0 !important;
	border-radius: 0 !important;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #f67d2c;
	bottom: -6px;
	position: absolute;
	left: calc(100% / 2 - 5px);
	transform: rotate(
			90deg
	);
}

#circle-of-life-game__obstacles {
	position: absolute;
	top: calc(100% / 2);
	left: calc(100% / 2);
	list-style: none;
	padding-left: 0;
	color: white;
	margin-left: 0;
	z-index: 2;
}

#circle-of-life-game__obstacles li {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	top: -15px;
	left: -10px;
	margin: auto;
	width: 30px;
}

#circle-of-life-game__obstacles li span {
	width: 30px;
	display: block;
	border-radius: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	background: #4d2780;
	color: white;
	font-family: 'Poppins';
}

#circle-of-life-game__obstacles img {
	width: 30px;
}

#circle-of-life-game__inner-space {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: 5px solid white;
	top: -5px;
	left: -5px;
	color: white;
	width: 400px;
	height: 400px;
	border-radius: 200px;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	transform: scale(0.1);
	flex-direction: column;
	text-align: center;
	position: absolute;
}

#circle-of-life-game__inner-space:before {
	content: 'CIRCLE OF INFLUENCE';
	position: absolute;
	top: 30px;
	font-size: 14px;
	opacity: 0.5;
	left: 0;
	width: 100%;
	text-align: center;
	color: #3f3f3f;
}

#circle-of-life-game__wrapper.influence #circle-of-life-game__inner-space {
	transform: scale(1);
}

#circle-of-life-game__wrapper.influence #time-left,
#circle-of-life-game__wrapper.influence #time-left-wrapper .counter,
#circle-of-life-game__wrapper.influence #circle-of-life-game:before,
#circle-of-life-game__wrapper.influence #circle-of-life-game:after {
	color: #3f3f3f;
	z-index: 3;
}

#circle-of-life-game__target {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f67d2c;
	border: 5px solid white;
	color: white;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	z-index: 3;
	flex-direction: column;
	text-align: center;
	position: relative;
	box-sizing: content-box;
}

div#game:before {
	content: 'CIRCLE OF NOISE';
	position: absolute;
	font-size: 14px;
	top: 30px;
	opacity: 0.5;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
}

#target-wrapper {
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	margin-top: -10px;
}

#circle-of-life-game__target img {
	width: 20px;
}

#instructions button {
	top: 0;
	text-transform: uppercase;
	background: rgb(77,39,128);
	background: linear-gradient(
			90deg
			, rgba(77,39,128,1) 0%, rgba(52,27,61,1) 100%);
	background-attachment: fixed;
	padding: 10px 15px;
	color: #fff;
	font-size: 14px;
	border-radius: 50px;
	font-weight: 500;
	transition: all .2s linear;
	border: 2px solid transparent;
	text-decoration: none;
	box-shadow: 0 4px 20px 0 rgb(0, 0, 0, 0.25);
}

#instructions img {
	position: relative;
	top: 4px;
	width: 150px;
	padding: 5px;
	padding: 5px 0 10px;
	box-shadow: none!important;
}

#instructions .plus-sign {
	border-radius: 25px;
	display: inline-block;
	background: white;
	color: #736585;
	padding: 2px 5px;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	position: relative;
}

#intro-splash-timer {
	display: none;
	font-size: 60px;
	position: relative;
	left: -5px;
	top: -5px;
	color: white;
}

#circle-of-life-game__wrapper.timer #intro-splash-timer {
	display: block;
}

#circle-of-life-game__wrapper.timer #instructions h1,
#circle-of-life-game__wrapper.timer #instructions button {
	display: none;
}

#circle-of-life-game__wrapper.timer #instructions {
	background-image: url(../images/circle-of-life-game-bg-splash.jpg);
}

#login {
	width: initial!important;
	text-align: center;
}

#loginform label:not([for="rememberme"]){
	font-size: 15px;
	line-height: 1.5;
	display: inline-block;
	margin-bottom: 3px;
	font-weight: bold;
}

#loginform {
	padding: 50px;
	width: 600px;
	max-width: 90%;
	box-sizing: border-box;
	background: white;
	border: 0;
	margin: 0 auto;
	text-align: left;
	font-family: 'Poppins';
	border-radius: 3px;
}

#loginform input {
	background: #fbfbfb;
	border: 1px solid #ddd !important;
	border-radius: 3px;
	padding: 0 12px;
	line-height: 15px;
	font-size: 14px;
	color: #666;
}

#loginform input:focus {
	border-radius: 3px;
}

#loginform input[type="submit"] {
	background: #3ba1da;
	text-transform: capitalize;
	height: auto;
	line-height: 20px;
	background: rgb(77,39,128);
	background: linear-gradient(
			90deg
			, rgba(77,39,128,1) 0%, rgba(52,27,61,1) 100%);
	background-attachment: fixed;
	padding: 10px 25px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase!important;
	font-family: 'Poppins';
	border-radius: 50px!important;
	transition: all .2s linear;
	border: 2px solid transparent;
	text-decoration: none;
	box-shadow: 0 4px 20px 0 rgba(0,0,0, 0.25);
}

.login #login .message, .login #login .success, .login #login #login_error {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

#mc_embed_signup form {
	padding: 0!important;
}

#mc_embed_signup .mc-field-group {
	padding-bottom: 0!important;
}

#mc_embed_signup input[type="email"] {
	color: #666;
	max-width: 350px;
	padding: 0.75em 20px!important;
	height: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #eaeaea;
	border-radius: 50px;
	background: #fafafa;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.2s linear;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25);
}

#mc_embed_signup input[type="submit"] {
	text-transform: capitalize;
	height: auto;
	line-height: 20px;
	background: rgb(77,39,128);
	background: linear-gradient(
			90deg
			, rgba(77,39,128,1) 0%, rgba(52,27,61,1) 100%);
	background-attachment: fixed;
	padding: 15px 32px;
	color: #fff;
	font-size: 18px;
	font-family: 'Poppins';
	border-radius: 50px;
	font-weight: 500;
	transition: all .2s linear;
	border: 2px solid transparent;
	text-decoration: none;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25);
}


#mce-responses,
#waitlist-count-notification {
	background: #e8e8e8;
	margin: 0px auto 14px!important;
	padding: 0 15px;
	border-radius: 5px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25);
	font-size: 16px;
	line-height: 1.2;
	color: initial;
}

#mce-responses #mce-error-response,
#mce-responses #mce-success-response,
#waitlist-count-notification {
	font-family: 'Poppins';
	font-size: 16px;
	padding: 0 10px;
}

#waitlist-count-notification {
	padding: 20px!important;
	color: red;
}

#waitlist-count-notification p {
	margin-bottom: 5px;
}

.waitlist-length {
	font-weight: bold;
}

.waitlist-length span {
	font-size: 20px;
}

.waitlist-length + p {
	color: gray;
}

/*#hero.landing .cta-button-holder:after,*/
/*#mc-embedded-subscribe-form:after {*/
/*	content: '*No credit card required';*/
/*	color: white;*/
/*	position: relative;*/
/*	top: -10px;*/
/*	font-size: 14px;*/
/*}*/

#wpcf7-f177-p247-o1 {
	margin: 20px auto 70px;
}

#wpcf7-f177-p247-o1 form {
	text-align: center;
}

#wpcf7-f177-p247-o1 .ajax-loader {
	position: absolute;
}

