#principles h4 {
  cursor: pointer;
}

#principle-visualization,
#jsmind_container {
  top: 0;
  z-index: 5;
  width:100vw;
  height:100vh;
  display: none;
}


#jsmind_container.show {
  background:#f4f4f4;
  display: block;
}

#principle-visualization.show,
#principle-visualization.show #jsmind_container.show {
  position: fixed;
}

#principle-visualization.show {
  background-size: cover;
  background-image: url(../../../images/bg_gradient__main-header.svg);
  display: block;
  background-position: 50vh 20vw;
  background-repeat: no-repeat;
  background-color: #f3f3f3;

  #jsmind_container {
    display: block;
  }
}

.mastermind #principle-visualization.show {
  background-image: url(../../../images/bpr-bg.jpg);
  background-position: top;
  background-size: cover;
}

#principle-visualization h1 {
  text-align: center;
  line-height: 68px;
  background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #cbcbcb 100%);
  margin: 0;
}

#principle-visualization.show #principles-horizontal-view {
  display: none;
  position: absolute;
  left: 0;
  top: 68px;
  display: flex;
  width: 100vw;
  overflow-x: auto;
}

.principles-list-category-wrapper {
  min-width: 300px;
  flex-basis: 100vw;
  overflow-x: auto;
  overflow: auto;
  height: calc(100vh - 86px);

  @media (min-width: 1200px) {
    min-width: 450px;
  }
}

.principles-list-category-wrapper h2 {
  margin: 0;
  padding: 15px;
}

.principles-list {
  margin-left: 0;
  padding: 0 15px;
}

#principle-visualization.show .principle-options {
  position: absolute;
  right: 100px;
  display: flex;
  top: 20px;
  z-index: 6;
  justify-content: center;
}

#principle-visualization.show .principle-options button {
  margin: 0 3px;
}

.principles-list li {
  line-height: 20px;
  margin-bottom: 5px!important;
}

@media (max-width: 1199px) {
  #principle-visualization h1 {
    padding-bottom: 52px;
  }

  #principle-visualization.show .principle-options {
    width: 100%;
    right: auto;
    top: 70px;
  }

  #principle-visualization.show #principles-horizontal-view {
    top: 120px;
    display: flex;
  }

  .principles-list-category-wrapper {
    height: calc(100vh - 120px);;
  }
}

.relevant-principles-wrapper {
  max-height: 120px;
  overflow-y: auto;

  h5 {
    margin: 0;
  }

  ul {
    margin: 5px 0 15px 5px;
    list-style: circle;
  }

  li {
    font-size: 13px;
    line-height: 1.1;
    margin-bottom: 5px;
  }
}