/* Flip card */
.flip-card,
.simple-card {
  margin: 0 auto;
  width: 400px!important;
  height: 600px;
  background-color: transparent;
  perspective: 1000px;
  line-height: 1.4;
  outline: none;
}

.card-category {
  display: inline-block;
  color: white;
  background: #4d2780;
}

.slick-slider:not(#mental-model-slider) .card-category {
  padding: 5px 10px;
  margin-left: 15px;
  position: absolute;
  right: 0;
  border-top-right-radius: 5px;
  top: 0;
  z-index: 1;
}

#mental-model-slider .card-category {
  padding: 3px 5px;
  font-size: 10px;
}

.flip-card,
.slick-arrow {
  cursor: pointer;
}

.simple-card h2,
.flip-card h2{
  margin-top: 0;
}

.simple-card h2,
.simple-card h3,
.flip-card h2,
.flip-card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.simple-card h3,
.flip-card h3 {
  line-height: 1.1;
  font-size: 16px;
  margin-top: 15px;
}

.simple-card p, .flip-card p, .simple-card li, .flip-card li {
  margin: 5px 0;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .simple-card,
  .flip-card {
    width: 340px!important;
    height: 520px;
    font-size: 13px;
    line-height: 1.2;
  }

  .simple-card h2,
  .flip-card h2{
    font-size: 20px;
  }

  .simple-card h3,
  .flip-card h3 {
    font-size: 15px;
  }
}

.simple-card-inner,
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.simple-card-content,
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 14px;
  text-align: left;
  border-radius: 5px;
  padding: 20px 25px;
  box-sizing: border-box;
  overflow-y: auto;
}

.simple-card-content,
.flip-card-front {
  background-color: white;
}

.flip-card-front .answer-info {
  font-weight: bold;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.slick-slider {
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slick-list {
  padding: 100px 0;
  height: auto!important;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  position: relative;
  z-index: 1;
  padding: 15px 20px;
}

.slick-prev {
  left: calc(50% - 400px);
}

.slick-next {
  right: calc(50% - 400px);
}

.simple-card ol,
.flip-card ol {
  list-style: none!important;
  counter-reset: item;
}
.simple-card ol > li,
.flip-card ol > li {
  counter-increment: item;
  margin-bottom: 5px;
}
.simple-card ol > li:before,
.flip-card ol > li:before {
  margin-right: 3px;
  margin-left: -22px;
  content: counter(item) '.';
  border-radius: 100%;
  font-weight: bold;
  font-size: 16px;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

.simple-card {
  .principle-tool {
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
    display: none;

    &.edit-principle-label {
      right: 30px;

    }
    &.edit-principle {
      right: 55px;
    }
  }

  &:hover,
  &:focus {
    .principle-tool {
      display: block;
    }
  }

  .show-related-task {
    display: block;
    
    .related-task-info {
      display: none;
      position: absolute;
      right: 0;
      width: 250px;
      background: #3f3f3f;
      color: white;
      padding: 5px 10px;
      border-radius: 3px;
      top: 20px;
      text-align: left;
      color: #a7a7a7;
      font-size: 11px;
    }

    &:hover,
    &:focus {
      .related-task-info {
        display: block;
      }
    }

    .related-task-name {
      display: block;
      text-decoration: none!important;
      font-size: 14px;
      line-height: 1.2;
      color: white;
    }
  }

  .principle-label {
    position: absolute;
    top: 0;
    background: #4d2780;
    color: white;
    left: 0;
    padding: 2px 8px;
  }
}

@media (max-width: 768px) {
  .simple-card-content,
  .flip-card-front,
  .flip-card-back {
    padding: 20px;
    font-size: 13px;
  }
}

#principles-slider-overlay {
  .simple-card {
    height: 250px;
  }

  .simple-card-content {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 8px solid #3f3f3f;
  }
}

#cards-overlay,
#principles-slider-overlay {
  display: flex;

  .slick-list {
    padding: 0;
  }
}
