#principles h4 {
  cursor: pointer; }

#principle-visualization,
#jsmind_container {
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  display: none; }

#jsmind_container.show {
  background: #f4f4f4;
  display: block; }

#principle-visualization.show,
#principle-visualization.show #jsmind_container.show {
  position: fixed; }

#principle-visualization.show {
  background-size: cover;
  background-image: url(../../../images/balloons-subtle.jpg);
  display: block; }
  #principle-visualization.show #jsmind_container {
    display: block; }

#principle-visualization h1 {
  background: #4d2780;
  background: linear-gradient(90deg, #4d2780 0%, #341a3d 80%);
  text-align: center;
  line-height: 68px;
  color: white;
  margin: 0; }

#principle-visualization.show #principles-horizontal-view {
  display: none;
  position: absolute;
  left: 0;
  top: 68px;
  display: flex;
  width: 100vw;
  overflow-x: auto; }

.principles-list-category-wrapper {
  min-width: 300px;
  flex-basis: 100vw;
  overflow-x: auto;
  border-right: 1px solid lightgray;
  overflow: auto;
  height: calc(100vh - 86px); }
  @media (min-width: 1200px) {
    .principles-list-category-wrapper {
      min-width: 450px; } }

.principles-list-category-wrapper h2 {
  background-color: #f78f24;
  background: linear-gradient(90deg, #f78f24 0%, #ef2453 80%);
  margin: 0;
  padding: 15px;
  color: white; }

.principles-list {
  margin-left: 0;
  padding: 0 15px; }

#principle-visualization.show .principle-options {
  position: absolute;
  right: 100px;
  display: flex;
  top: 20px;
  z-index: 5;
  justify-content: center; }

#principle-visualization.show .principle-options button {
  margin: 0 3px; }

.principles-list li {
  line-height: 20px;
  margin-bottom: 5px !important; }

@media (max-width: 1199px) {
  #principle-visualization h1 {
    padding-bottom: 52px; }

  #principle-visualization.show .principle-options {
    width: 100%;
    right: auto;
    top: 70px; }

  #principle-visualization.show #principles-horizontal-view {
    top: 120px;
    display: flex; }

  .principles-list-category-wrapper {
    height: calc(100vh - 120px); } }
.relevant-principles-wrapper {
  max-height: 120px;
  overflow-y: auto; }
  .relevant-principles-wrapper h5 {
    margin: 0; }
  .relevant-principles-wrapper ul {
    margin: 5px 0 15px 5px;
    list-style: circle; }
  .relevant-principles-wrapper li {
    font-size: 13px;
    line-height: 1.1;
    margin-bottom: 5px; }

/*# sourceMappingURL=principles.css.map */
